# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
*.exe
*.dll
*.pdb
*.cache
*.log

# NuGet packages
*.nupkg
packages/
*.snupkg

# Visual Studio Code
.vscode/

# Rider
.idea/

# Test results
TestResults/
*.trx

# Others
*.dbmdl
*.bak
*.swp
*.tmp
*.vspscc
*.vssscc

# DotCover
*.dotCover

# Publish
publish/
out/